// Our Services
section.section-md.bg-default.text-center.decor-text(data-content='Services')
  .container
    h4.heading-decorated Our Services
    .row.row-50.justify-content-md-center.justify-content-lg-start
      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-pencil-ruler
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) Bootstrap Framework
            p theFuture is based on Bootstrap Framework, which makes it a nice template for any purpose.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-users
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) Novi Builder
            p Use our Novi Builder to customize and update your website within seconds.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-wall
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) Responsive & Retina Ready
            p theFuture looks great on any screen resolution and on any device due to its responsiveness.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-apartment
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) Tons of Tools for Real Needs
            p Event calendar, bookings and schedule  are just some of tools that come on board.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-home4
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) Thought Through Layout
            p Huge number of content layouts allow to assemble unique pages with great flexibility.

      .col-md-6.col-xl-4
        // Blurb circle 
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-pencil-ruler2
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) Clean and Crispy Design
            p theFuture is crafted by top industry leaders with love, care and customer needs in mind.

      .col-md-6.col-lg-4
        // Blurb minimal
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-magic-wand
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) Built For Speed
            p Our template was built for speed. Get the best results at GTmetrix and Google PageSpeed.

      .col-md-6.col-lg-4
        // Blurb minimal
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linear-icon-menu3
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) Flexible and Multipurpose
            p theFuture allows creating various websites for complex and scalable projects.

      .col-md-6.col-lg-4
        // Blurb minimal
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left 
            .blurb-minimal__icon: span.icon.linear-icon-users2
          .unit-body
            p.blurb__title.heading-6: a(href=singleService) SEO Friendly
            p Valid code and performance optimized framework make SEO easy and hassle free.
='\n'
