// Meet Our Team
section.section-lg.bg-default.text-center.decor-text(data-content='Team')
	.bg-decor.d-flex.align-items-center.justify-content-end( data-parallax-scroll='{"y": 50,  "smoothness": 30}' )
		+png('bg-decor-6')
	.container
		.row.justify-content-xl-center.row-50
			.col-xl-9
				h4.heading-decorated Represent Your Staff
				p theFuture is perfect to display the members of your staff, team or working force. Within our template you can present your team members in the best well made and interface with special design and multiple styling options.
		.row.row-50
			.col-md-6.col-lg-4
				// Thumb corporate
				.thumb.thumb-corporate
					.thumb-corporate__main
						+jpg('calvin-fitzerald-418x315')

						.thumb-corporate__overlay
							+list-inline-icon({
								list_class: ['list-inline-sm', 'thumb-corporate__list'],
								items: [
									"icon-sm fa-facebook",
									'icon-sm fa-twitter',
									'icon-sm fa-google-plus',
									'icon-sm fa-vimeo',
									'icon-sm fa-youtube',
									'icon-sm fa-pinterest-p'
								]
							})

					.thumb-corporate__caption
						p.thumb__title: a(href=teamMember) Amanda Smith
						p.thumb__subtitle Director

			.col-md-6.col-lg-4
				// Thumb corporate
				.thumb.thumb-corporate
					.thumb-corporate__main
						+jpg('taylor-wilson-418x315')

						.thumb-corporate__overlay
							+list-inline-icon({
								list_class: ['list-inline-sm', 'thumb-corporate__list'],
								items: [
									"icon-sm fa-facebook",
									'icon-sm fa-twitter',
									'icon-sm fa-google-plus',
									'icon-sm fa-vimeo',
									'icon-sm fa-youtube',
									'icon-sm fa-pinterest-p'
								]
							})

					.thumb-corporate__caption
						p.thumb__title: a(href=teamMember) Taylor Wilson
						p.thumb__subtitle Marketing manager

			.col-md-6.col-lg-4
				// Thumb corporate
				.thumb.thumb-corporate
					.thumb-corporate__main
						+jpg('josh-wagner-418x315')

						.thumb-corporate__overlay
							+list-inline-icon({
								list_class: ['list-inline-sm', 'thumb-corporate__list'],
								items: [
									"icon-sm fa-facebook",
									'icon-sm fa-twitter',
									'icon-sm fa-google-plus',
									'icon-sm fa-vimeo',
									'icon-sm fa-youtube',
									'icon-sm fa-pinterest-p'
								]
							})

					.thumb-corporate__caption
						p.thumb__title: a(href=teamMember) George Nelson
						p.thumb__subtitle Designer

			.col-md-6.col-lg-4
				// Thumb corporate
				.thumb.thumb-corporate
					.thumb-corporate__main
						+jpg('luis-maxwell-418x415')

						.thumb-corporate__overlay
							+list-inline-icon({
								list_class: ['list-inline-sm', 'thumb-corporate__list'],
								items: [
									"icon-sm fa-facebook",
									'icon-sm fa-twitter',
									'icon-sm fa-google-plus',
									'icon-sm fa-vimeo',
									'icon-sm fa-youtube',
									'icon-sm fa-pinterest-p'
								]
							})

					.thumb-corporate__caption
						p.thumb__title: a(href=teamMember) William Rivera
						p.thumb__subtitle Creative Director

			.col-md-6.col-lg-4
				// Thumb corporate
				.thumb.thumb-corporate
					.thumb-corporate__main
						+jpg('ken-ferguson-418x415')

						.thumb-corporate__overlay
							+list-inline-icon({
								list_class: ['list-inline-sm', 'thumb-corporate__list'],
								items: [
									"icon-sm fa-facebook",
									'icon-sm fa-twitter',
									'icon-sm fa-google-plus',
									'icon-sm fa-vimeo',
									'icon-sm fa-youtube',
									'icon-sm fa-pinterest-p'
								]
							})

					.thumb-corporate__caption
						p.thumb__title: a(href=teamMember) Evelyn Harris
						p.thumb__subtitle Developer

			.col-md-6.col-lg-4
				// Thumb corporate
				.thumb.thumb-corporate
					.thumb-corporate__main
						+jpg('edward-elliot-418x315')

						.thumb-corporate__overlay
							+list-inline-icon({
								list_class: ['list-inline-sm', 'thumb-corporate__list'],
								items: [
									"icon-sm fa-facebook",
									'icon-sm fa-twitter',
									'icon-sm fa-google-plus',
									'icon-sm fa-vimeo',
									'icon-sm fa-youtube',
									'icon-sm fa-pinterest-p'
								]
							})

					.thumb-corporate__caption
						p.thumb__title: a(href=teamMember) Elizabeth Cox
						p.thumb__subtitle Marketing
		
='\n'
