include ../elements/_ui-rd-video
// Swiper
section
	+swiper({ 
		effect: 'coverflow', 
		loop: 'false',
		autoplay: '6000',
		direction: 'horizontal', 
		mousewheel: 'false', 
		keyboard: 'true', 
		pagination: 'true', 
		navigation: 'true' }).context-dark.swiper-slider_fullheight
		.swiper-slide.swiper-slide_video.context-dark.video-bg-overlay.vide_bg(data-vide-bg="video/video" data-vide-options='posterType: jpg')
			.swiper-slide-caption.text-center
				.container
					.row.justify-content-center
						.col-lg-7
							h2(data-caption-animate='fadeInUpSmall') Built by geeks & used by humans
							h5.text-width-2.block-centered(data-caption-animate='fadeInUpSmall', data-caption-delay='200') theFuture aims to satisfy real needs of real projects. We've got a pack of tools for that.
							.group-lg.group-middle
								a.button.button-black.button-shadow(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href='#' + seeFeaturesLink, data-custom-scroll-to=seeFeaturesLink) See Features
								a.button.button-primary.button-shadow(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href=getTemplateLink) Buy template
								
		.swiper-slide.context-dark(style='background-image: url(images/slider-slide-1-1920x1080.jpg)')
			.swiper-slide-caption.text-center
				.container
					h1(data-caption-animate='fadeInUpSmall')
						span.text-lowercase.heading-2.text-white the
						span FUTURE
					h3(data-caption-animate='fadeInUpSmall', data-caption-delay='200') New HTML Templates Generation
					.group-lg.group-middle
						a.button.button-primary.button-shadow(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href='#' + seeFeaturesLink, data-custom-scroll-to=seeFeaturesLink) See Features
						a.button.button-black.button-shadow(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href=getTemplateLink) Buy template

		.swiper-slide.context-dark(style='background-image: url(images/slider-slide-2-1920x1080.jpg)')
			.swiper-slide-caption
				.container.text-right
					h2(data-caption-animate='fadeInLeftSmall')
						| The Power of Bootstrap
						br.d-none.d-lg-block
						|  Discover it with theFuture
					a.button.button-primary.button-shadow(data-caption-animate='fadeInLeftSmall', data-caption-delay='200', href=getTemplateLink) Buy template

='\n'
